.btn-bg-color {
    background-color: #B68C5A;
}

.bg-image {
    background-image: url(images/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 500px; */
    width: 100%;
}